@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  font-family: 'EB Garamond', serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html {
    @apply transition-colors duration-300;
  }
  body {
    @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200;
  }
}



:root {
  --color-primary: #FF1D8D;
}

@keyframes marquee-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-left {
  animation: marquee-left 25s linear infinite;
  white-space: nowrap;
}

.animate-marquee-right {
  animation: marquee-right 25s linear infinite;
  white-space: nowrap;
}


.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 2px 105px;
}


@media (max-width: 639px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}